:root{
    --background-color: rgba(255, 255, 255, 0.3);
    --background-color-hover:  rgba(255, 255, 255, 0.6);
    --primary-color: #a53333;
    --secondary-color: #6c757d;
    --tertiary-color: #6c757d;
    --font: 'Roboto', sans-serif;
    --font-size: 1rem;
    --border-radius: 1rem;
    --transition: all 0.3s linear;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Make scrollbar background transparent */
::-webkit-scrollbar {
    background-color: transparent;
    height: 1rem
  }
  
  /* Round scrollbar corners */
  ::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 10px;
  }

body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 60%;
    display: flex;
}
input{
    height: 3rem;
    width: 45%;
    padding: 0 0.5rem;
    border: none;
    

    margin-bottom: .5rem;
}
input:focus{
    outline: none;
    border-color: var(--primary-color);
}
input[name="city"]{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
input[name="country"]{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input[type="submit"]{
    width: 10%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--background-color-hover);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#location{
    height: 2rem;
    margin-bottom: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--background-color-hover);
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    display: none;
}
#hourly{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 1rem;
    overflow-y: hidden;
    white-space: nowrap;
}

#hourly .weather{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 20rem;
    width: 15rem;
    padding: 5%;
    margin-bottom: .3rem;
    animation: slide-left 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hourly :hover {
    background-color: var(--background-color-hover);
}

@keyframes slide-left {
    from {
      right: -50vh;
      margin-left: 50vh;
      opacity: 0;
    }
    to {
      right: 0vh;
      margin-left: 0vh;
      opacity: 1;
    }
  }

#hourly .weather .time{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#hourly .weather .temp{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

@keyframes slide-up {
    from {
        bottom: -50vh;
        margin-bottom: 50vh;
        opacity: 0;
    }
    to {
        bottom: 0vh;
        margin-bottom: 0vh;
        opacity: 1;
    }
}

  #weekly{
    margin-top: 1rem;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: .5rem;
    animation: slide-up 0.5s ease-in-out;
  }
  
  #weekly .column{
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    height: 3rem;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #weekly :hover {
    background-color: var(--background-color-hover);
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}
