:root{
    --background-color: rgba(255, 255, 255, 0.3);
    --background-color-hover:  rgba(255, 255, 255, 0.6);
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --font: 'Roboto', sans-serif;
    --font-size: 1rem;
    --border-radius: 1rem;
    --transition: all 0.3s linear;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Make scrollbar background transparent */
::-webkit-scrollbar {
    background-color: transparent;
    height: 1rem
  }
  
  /* Round scrollbar corners */
  ::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-color-hover);
  }

body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 3rem;
    width: 45%;
    padding: 0 0.5rem;
    border: none;
    margin-bottom: .5rem;
}
input:focus{
    outline: none;
    border-color: var(--primary-color);
}
input[name="city"]{
    min-width: fit-content;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
input[type="submit"]{
    width: 10%;
    min-width: fit-content;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--background-color-hover);
    box-shadow: var(--box-shadow);
}
input[type="submit"]:hover{
    background-color: var(--background-color-hover);
    cursor: pointer;
}

#location{
    background-color: var(--background-color-hover);
    height: 2rem;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    display: none;
}
#hourly{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 1rem;
    overflow-y: hidden;
    white-space: nowrap;
}

#hourly .weather{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: 20rem;
    width: 15rem;
    padding: 5%;
    margin-bottom: .3rem;
    animation: slide-left 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 4rem !important;
    margin-bottom: 1rem;
}
#bottom {
    display: flex;
    height: 50%;
    width: 100%;
}

#bottom .split {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    height: 100%;
}

#bottom .split .information {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circle {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
}


#hourly .weather:hover {
    background-color: var(--background-color-hover);
}

@keyframes slide-left {
    from {
      right: -50vh;
      margin-left: 50vh;
      opacity: 0;
    }
    to {
      right: 0vh;
      margin-left: 0vh;
      opacity: 1;
    }
  }

#hourly .weather .time{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#hourly .weather .temp{
    font-size: 1.5rem;
    font-weight: bold;;
}

#hourly .weather .appTemp {
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

@keyframes slide-up {
    from {
        bottom: -50vh;
        margin-bottom: 50vh;
        opacity: 0;
    }
    to {
        bottom: 0vh;
        margin-bottom: 0vh;
        opacity: 1;
    }
}

  #weekly{
    margin-top: 1rem;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: .5rem;
    animation: slide-up 0.5s ease-in-out;
  }
  
  #weekly .column{
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 0 0.5rem;
    border-radius: var(--border-radius);
    height: 3rem;
    width: 100%;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    gap: 5%;
  }

  #weekly .column:hover {
    background-color: var(--background-color-hover);
  }

  #weekly .column .thing {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #weekly .column #temp {
    gap: 5%;
  }

  #weekly .column #temp #tempLine {
    width: 50%;
    height: 20%;
    border-radius: 2rem;
    background: linear-gradient(to right, #40c9ff, #00ff8880,  #f89b29);
  }

  @media only screen and (max-width: 1000px) {
    form {
        margin-top: 2rem;
    }

    #weekly .column {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: 1rem;
        background-color: var(--background-color);
    }
    #weekly .column #temp {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    #weekly .column #temp #tempLine {
        height: 10px;
    }
  }